<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AwB Tech LLC.</title>
  <meta content="description" name="We are eager to map out your business needs, and provide the tools to achieve success.">
  <meta content="keywords" name="lancaster, enterprise solutions, computer service, business consultant, small business email, small business, custom software solutions, small business network, custom business email, PC deployment">
  <meta name="author" content="AwB Tech LLC.">

  <meta property="og:url" content="https://awbtech.org" />
  <meta property="og:title" content="AwB Tech LLC." />
  <meta property="og:image" content="{% static 'main/img/og logo.jpeg' %}" />
  <meta property="og:image:alt" content="AwB Tech Logo" />

  <!-- Favicons -->
  <link href="{% static 'main/img/favicon.png' %}" rel="icon">
  <link href="{% static 'main/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'main/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'main/css/style.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <!-- <h1 class="logo me-auto"><a href="index.html">AwB Tech</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo me-auto"><img src="{% static 'main/img/logo.webp' %}" alt="AwB Tech Logo" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#packages">Packages</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#contact">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Building Better Solutions For Your Business</h1>
          <h2>We can’t wait to start working together. Your vision is important to us. We’re eager to map out the needs of your business, and provide the necessary tools to achieve a successful future.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'main/img/hero-img.webp' %}" class="img-fluid animated" alt="Information Technology Integration Infographic">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'main/img/clients/bsd.webp' %}" class="img-fluid" alt="Bellevue School District Logo">
          </div>

          <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'main/img/clients/codeucate.webp' %}" class="img-fluid" alt="WeCodeucate Logo">
          </div>

          <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'main/img/clients/Acosta-OeP.webp' %}" class="img-fluid" alt="Acosta and OeP Logo">
          </div>

          <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'main/img/clients/ideoclick.webp' %}" class="img-fluid" alt="Ideoclick Logo">
          </div>

        </div>

      </div>
    </section>
    <!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              At AwB Tech, we understand that change is not always easy. Since 2021, we’ve been helping companies of all sizes 
              respond to industry transitions in order to stay competitive. Our years of experience have taught us to always make your 
              business success our priority. 
              <br>
              Our team of experts is ready to help you develop strategies for not only surviving, but 
              thriving in the future. Give us a call today to set up your first consultation.
            </p>
            <a href="#contact" class="btn-learn-more">Contact Us</a>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Our firm cares about what makes your company truely unique and what you need to succeed.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Your vision is important to us.</li>
              <li><i class="ri-check-double-line"></i> Your success is a priority.</li>
              <li><i class="ri-check-double-line"></i> Your future success is our success.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>AwB Tech exists to solve the critical issues facing our clients, both large and small. Our unique approach is not only what differentiates us, 
            but also what makes us successful. We provide a broad range of services and solutions to help organizations facilitate change, achieve their 
            vision and optimize performance and productivity.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-envelope"></i></div>
              <h4><a href="#contact">Custom Business Email & Storage</a></h4>
              <p>Your business name after the @ symbol of an email can ensure your name and reputation follows you through your business interactions.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-wifi"></i></div>
              <h4><a href="#contact">Secure Business Network</a></h4>
              <p>Every day we hear about another business in the news, let's ensure your business is in the news for the reasons you want.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-laptop"></i></div>
              <h4><a href="#contact">Mass PC Deployment</a></h4>
              <p>Get computers that are set up secure and monitored for every employee without the worry of data loss or lack of security.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-question-mark"></i></div>
              <h4><a href="#contact">Custom Solutions</a></h4>
              <p>One of these don't suit your needs? Need more? Contact us for custom solutions to help you succeed!</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>The Power of Good Advice</h3>
            <p>Since AwB Tech began, we’ve provided our services to a variety of businesses. On every project we undertake, our most important objective 
              is to relate with clients and understand their core necessities and goals. 
              <br>
              Below are some packages we offer - take a look, and get in touch to learn more.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#contact">Get in Touch!</a>
          </div>
        </div>

      </div>
    </section>
    <!-- End Cta Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="packages" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Basic Packages</h2>
          <p>AwB Tech offers a wide range of consulting services to serve a variety of businesses and clients. Whether you’re a small, local business or a multinational corporation, we can help you reach new levels of success.</p>
        </div>

        <div class="row">

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>The Startup Package</h3>
              <h4><span>starting at</span><sup>$</sup>70<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Domain Name</li>
                <li><i class="bx bx-check"></i> Email Service w/ Shared Mailboxes</li>
                <li><i class="bx bx-check"></i> Email Anti-Malware and Anti-Spam</li>
                <li><i class="bx bx-check"></i> File Storage</li>
                <li><i class="bx bx-check"></i> Video Conferenceing</li>
                <li><i class="bx bx-check"></i> Planner / Forms</li>
                <li><i class="bx bx-check"></i> User Based Multi-Factor Authentication</li>
              </ul>
              <h4><span>*based on 5 users</span></h4>
              <a href="#contact" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-3 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>The Small Biz Package</h3>
              <h4><span>starting at</span><sup>$</sup>105<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> The Startup Package</li>
                <li><i class="bx bx-check"></i> Full Microsoft Application Suite</li>
                <li><i class="bx bx-check"></i> Invoicing / Listing / Booking Applications</li>
                <li><i class="bx bx-check"></i> Windows 10/11 License</li>
                <li><i class="bx bx-check"></i> Mobile/Bring Your Own Device Management</li>
              </ul>
              <h4><span>*based on 5 users</span></h4>
              <a href="#contact" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-3 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>The Tech Package</h3>
              <h4><span>starting at</span><sup>$</sup>150<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> The Small Biz Package</li>
                <li><i class="bx bx-check"></i> Full Accounting Software</li>
                <li><i class="bx bx-check"></i> XDR Antivirus Software</li>
                <li><i class="bx bx-check"></i> Automated Vulnerability Scanning</li>
                <li><i class="bx bx-check"></i> Incident Response Planning</li>
              </ul>
              <h4><span>*based on 5 users</span></h4>
              <a href="#contact" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-3 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>The Custom Package</h3>
              <h4><span>starting at</span><sup>$</sup>??<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> The Startup Package</li>
                <li><i class="bx bx-check"></i> The Small Biz Package</li>
                <li><i class="bx bx-check"></i> The Tech Package</li>
                <li><i class="bx bx-check"></i> Network Security Package</li>
                <li><i class="bx bx-check"></i> Mass PC Deployment Package</li>
                <li><i class="bx bx-check"></i> Custom Requests</li>
              </ul>
              <a href="#contact" class="buy-btn">Get Started</a>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Pricing Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Service Locations:</h4>
                <p>
                Headquarters:
                <br>
                Lancaster, PA, 17603
                <br><br>
                Satellite Locations:
                <br>
                State College, PA, 16802
                <br>
                Seattle, WA, 98104
                <br>
                Sammamish, WA, 98075
                <br>
                Scottsdale, AZ, 85251
                <br>
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@awbtech.org</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 (425) 919-3389</p>
              </div>

              <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="/contactcreation" method="post" class="info">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
              {% if messages %}
                {% for message in messages %}
                  <br>
                  <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <div class="alert-message">
                      <strong>{{message|safe}}</strong>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <!-- <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div> -->

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>AwB Tech LLC.</h3>
            <p>
              <!-- A108 Adam Street <br> -->
              Lancaster, PA 17603<br>
              United States <br><br>
              <strong>Phone:</strong> +1 (425) 919-3389<br>
              <strong>Email:</strong> info@awbtech.org<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Custom Business Email & Storage</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Secure Business Network</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Mass PC Deployment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Custom Solutions</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p> -->
            <div class="social-links mt-3">
              <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
              <a href="https://www.facebook.com/awbtechllc" class="facebook"><i class="bx bxl-facebook"></i></a>
              <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> -->
              <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
              <a href="https://www.linkedin.com/company/awbtech/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>AwB Tech LLC.</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://awbtech.org/">AwB Tech LLC.</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'main/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'main/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'main/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'main/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'main/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'main/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'main/js/main.min.js' %}"></script>

</body>

</html>